SettingOff RCData "Png\\setting_off.png"
CloseDown RCData "Png\\close_down.png"
CloseOff RCData "Png\\close_off.png"
CloseOn RCData "Png\\close_on.png"
MinDown RCData "Png\\min_down.png"
MinOff RCData "Png\\min_off.png"
MinOn RCData "Png\\min_on.png"
SettingDown RCData "Png\\setting_down.png"
SettingOn RCData "Png\\setting_on.png"
PngTitle RCData "Png\\title.png"
btnDisabledL Bitmap "Bmp\\btnDisabledL.bmp"
btnDisabledM Bitmap "Bmp\\btnDisabledM.bmp"
btnDisabledS Bitmap "Bmp\\btnDisabledS.bmp"
btnDownL Bitmap "Bmp\\btnDownL.bmp"
btnDownM Bitmap "Bmp\\btnDownM.bmp"
btnDownS Bitmap "Bmp\\btnDownS.bmp"
btnOnL Bitmap "Bmp\\btnOnL.bmp"
btnOnM Bitmap "Bmp\\btnOnM.bmp"
btnOnS Bitmap "Bmp\\btnOnS.bmp"
btnOutL Bitmap "Bmp\\btnOutL.bmp"
btnOutM Bitmap "Bmp\\btnOutM.bmp"
btnOutS Bitmap "Bmp\\btnOutS.bmp"
